{% extends 'core/base.html' %}

{% block content %}
<h2>Lista de Clientes</h2>

<a href="{% url 'clientes:crear_cliente' %}" class="btn btn-primary mb-3">Crear Cliente</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.usuario.first_name }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>
                <a href="{% url 'clientes:editar_cliente' cliente.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'clientes:eliminar_cliente' cliente.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
